.navbar-brand img {
    width: 40px;
    height: 40px;
}

.img-item img {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
}

.myCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 18rem;
    overflow: hidden;
}

.myCard img {
    z-index: -1;
}

@media only screen and (max-width: 786px) {
    .myCard {
        width: 100%;
        display: flex;
        justify-content: center;
        flex: 1 1 50%;
    }
}

@media only screen and (max-width: 630px) {
    .myCard {
        display: block;
    }
}